/* CSS para botones y partes interactivas */
@import url(cardonabogados.css);
/* Flecha que invita al scroll --------------------------------------*/
.arrow {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  width: 100%;
  height: 50px;
}
.arrow svg {
  width: 100%;
  height: 100%;
  animation: parpadeo 1.5s infinite;
}

.arrow path {
  fill: none;
  stroke: var(--color-claro-detalles);
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* Tema Oscuro */
@media (prefers-color-scheme: dark) {
  .arrow path {
    stroke: var(--color-oscuro-contraste);
  }
}
/* Barra de scroll -------------------------------------------------*/
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--color-claro-detalles);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-claro-contraste);
}
/* Tema Oscuro */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background: var(--color-oscuro-detalles);
    border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-oscuro-contraste);
  }
}

/* Detalle de la parte derecha inferior */
.floating-bar {
  position: fixed; /* Fija el elemento en una posición relativa a la ventana del navegador */
  bottom: 40px; /* Coloca el elemento 40px arriba del fondo de la ventana */
  right: 0; /* Coloca el elemento en el lado derecho de la ventana */
  width: 20px; /* Ancho de la barra */
  height: 100px; /* Altura de la barra */
  background: 
    linear-gradient(
      to bottom, 
      #3F567D 0%, #3F567D 30%, 
      #32A9D4 30%, #32A9D4 80%, 
      #85C7E0 80%, #85C7E0 100%
    );
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra opcional para dar profundidad */
}

