/*Linea de marca de Cardonabogados*/
/* FUENTE: Afacad */
@font-face {
  font-family: "Afacad";
  src: url("../fonts/Afacad-Medium.woff2") format("woff2");
}
:root {
  /* Colores */
  /* Tema Claro */
  --color-claro-fondo: #f7f7f7;
  --color-claro-detalles: #26303e;
  --color-claro-detalles-secundario: #26303e;
  --color-claro-contraste: #d8d9d7;
  --color--claro-acento: #32a9d4;
  /* Tema Oscuro */
  --color-oscuro-fondo: #26303e;
  --color-oscuro-detalles: #33434f;
  --color-oscuro-detalles-secundario: #aaa;
  --color-oscuro-contraste: #d8d9d7;
  --color--oscuro-acento: #d8d9d7;
}
