/* Generalidades  */
@import url(cardonabogados.css);

/* Estilos Base -----------------------------------------------------------*/
/* NOTE ---> From skeleton
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
/* Fuentes y Colores */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Evita scroll horizontal innecesario */
}
html {
  background-color: var(--color-claro-fondo);
  font-size: 62.5%;
  color: var(--color-claro-detalles);
}
body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Afacad", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
label {
  color: var(--color-claro-detalles);
}
.main-content {
  padding-bottom: 130px; /* Ajusta según la altura del footer */
}
.mini-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*background-color: var(--color-claro-fondo); /* Color de fondo */
  text-align: center;
}

.mini-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* Tema Oscuro */
@media (prefers-color-scheme: dark) {
  html {
    background-color: var(--color-oscuro-fondo);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  label {
    color: var(--color-oscuro-contraste);
  }
  .horizontal-line {
    background-color: var(--color-oscuro-contraste);
  }
}
/* Logo inicio */
/* Grid especial Logo */
.logo-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-left: 15vw;
  padding-right: 15vw;
  overflow: hidden;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60vh;
  margin-bottom: 1rem;
}
.logo-principal path {
  fill: var(--color-claro-detalles);
}
.logo-img,
.title {
  flex: 0 0 100%;
  box-sizing: border-box;
}
.logo-img {
  width: 100%;
  max-width: 600px;
  height: auto;
}
.title {
  text-transform: uppercase;
  display: block;
  font-size: 8vh;
  text-align: center;
}
/* Variantes dependiendo Tema o Tamaño de pantalla */
@media (height <= 550px) {
  .logo-container {
    padding-top: 0rem;
  }
}
@media (width <= 550px) {
  .logo {
    max-width: 30vh;
  }
  .title {
    font-size: 4vh;
  }
}
@media (prefers-color-scheme: dark) {
  .logo-principal path {
    fill: var(--color-oscuro-contraste);
  }
}
/* --------------------------------------------------------- */
/* Mini Menu Oficina*/
.button svg {
  max-height: 50px;
  min-height: 40px;
}

.mini-menu {
  fill: var(--color-claro-contraste);
  stroke: var(--color-claro-detalles);
}

a p {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  color: var(--color-claro-contraste);
}
@media (width <= 550px) {
  .value-props > .value-prop {
    margin: 2rem;
  }
}
@media (width <= 710px) {
  .value-props {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .value-props > .value-prop {
    margin: 1rem;
  }
}
@media (prefers-color-scheme: dark) {
  .mini-menu {
    fill: var(--color-oscuro-contraste);
    stroke: var(--color-oscuro-detalles);
  }
}
/* Cuadricula Servicios Oficina */
.header {
  text-align: center;
}
.one-column {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  fill: var(--color-claro-detalles);
  stroke: var(--color-claro-detalles);
  width: auto;
  height: 150px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.svg-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.service-link .icon {
  width: auto; /* Ajusta según sea necesario */
  height: 150px;
  display: block;
  margin: 0 auto;
}

.service-link{
  text-decoration: none
}
.detalle{
  color: var(--color-claro-detalles);
}

@media (prefers-color-scheme: dark) {
  .icon {
    fill: var(--color-oscuro-contraste);
    stroke: var(--color-oscuro-detalles);
  }
}
/* Detalles Oficina*/
#Quienes_Somos h3,
#Quienes_Somos p {
  margin-bottom: 0;
}

.container h2 {
  text-align: center;
}
.row-text h3 {
  text-align: center;
}
.NAME {
  text-align: center;
  font-size: 3.3rem;
  margin-top: 1rem;
}
.detalles-img {
  width: 95%;
}
@media (min-width: 550px) {
  .row-text {
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center;
  }
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
  .NAME {
    font-size: 3.7rem;
  }
}
@media (width <= 550px) {
  .re-order {
    display: flex;
    flex-direction: column;
  }
  .re-order div:nth-child(1) {
    order: 2;
  }
  .re-order div:nth-child(2) {
    order: 1;
  }
}
/* Avatar pagina contacto */
.avatar {
  width: auto;
  height: 175px;
  object-fit: cover;
  background-position: center;
  border-radius: 50%;
}
/* Tamaños y proporciones */
.value-img {
  display: block;
  text-align: center;
  margin: 2.5rem auto 0;
}
.value-prop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.value-props {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
/*Footer*/
.footer {
  position: fixed; /* Fija el footer en la parte inferior */
  bottom: 0;
  left: 0;
  width: 100%; /* Asegura que ocupe todo el ancho */
  background-color: var(--color-claro-fondo); /* Fondo claro */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  display: flex; /* Flexbox para distribución */
  justify-content: space-between; /* Distribuye las secciones uniformemente */
  align-items: center; /* Centra verticalmente los elementos */
  padding: 15px 20px; /* Espaciado interno */
  box-sizing: border-box; /* Incluye padding en el ancho total */
  flex-wrap: wrap; /* Permite ajuste en pantallas pequeñas */
  opacity: 0; /* Oculto inicialmente */
  display: none; /* Oculto por defecto */
  transition: opacity 1s ease-in-out; /* Transición suave */
  height: 130px;
}
.home svg{
  max-height: 50px;
  min-height: 40px;
}
.footer.visible {
  display: flex; /* Se muestra al hacer scroll */
  opacity: 1; /* Totalmente visible */
}

.footer-section {
  flex: 1; /* Distribuye las secciones proporcionalmente */
  text-align: center; /* Centra horizontalmente el contenido */
  padding: 0 10px; /* Espaciado interno entre secciones */
  box-sizing: border-box; /* Evita problemas con el ancho */
}

.footer-section:first-child {
  text-align: left; /* Alinea el logo a la izquierda */
  flex: 1; /* Ocupa más espacio */
}

.footer-section:first-child p {
  text-align: left; /* Asegura que el texto quede a la izquierda */
  margin: 0;
  padding: 0;
}

.footer-section:last-child {
  display: flex;
  flex-direction: column; /* Coloca los elementos en columna */
  align-items: flex-end; /* Alinea los elementos hacia la derecha */
  text-align: right; /* Asegura que el texto esté alineado a la derecha */
  padding: 0 10px; /* Espaciado interno para separarlo del borde */
}

.footer-section:last-child h5,
.footer-section:last-child a {
  margin: 5px 0; /* Espaciado uniforme entre los elementos */
}

.footer-section h5,
.footer-section p,
.footer-section a,
.footer-section address {
  margin: 0; /* Elimina márgenes extra */
  padding: 0;
  line-height: 1.5; /* Altura de línea para espaciado consistente */
  text-align: center;
}

.footer-section .logo-principal path {
  width: 100px;
  fill: var(--color-claro-detalles);
}

.footer-section p,
.footer-section h5 {
  color: var(--color-claro-detalles);
  margin: 0 0 10px 0;
}

.footer-section address,
.footer-section a {
  color: var(--color-claro-detalles-secundario);
  text-decoration: none;
  margin: 0 0 5px 0;
}
.footer-section a:hover {
  text-decoration: underline;
  color: var(--color--claro-acento);
}
a.home:hover,
a.home:focus {
  color: var(--color--claro-acento);
  text-decoration: none;
}
a.home:hover .logo-principal path,
a.home:focus .logo-principal path {
  fill: var(--color--claro-acento);
}
a.home:hover p,
a.home:focus p {
  color: var(--color--claro-acento);
}

/* Responsive Design */

@media (max-width: 768px) {
  .footer {
    height: 100px; /* Reduce la altura */
    padding: 10px 15px; /* Reduce el espacio interno */
    flex-wrap: wrap; /* Permite ajustar elementos en filas */
    justify-content: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Asegura que el texto se centre */
  }
  .footer-section:last-child {
    align-items: right; /* Centra los elementos en móviles */
  }
  .footer-section {
    width: 100%; /* Cada sección ocupa todo el ancho */
    margin-bottom: 10px; /* Espacio entre secciones */
  }
  .footer-section address{
    display: none;
  }
  .footer-section a,
  .footer-section h5 {
    font-size: 11px; /* Reduce el tamaño de fuente */
  }
  .footer-section .logo-principal{
    width: 80px;
  }
  .mini-menu-container{
    height: calc(100vh - 160px); 
  }
}
@media (min-width: 769px) {
  .footer-section:first-child {
    text-align: left;
  }
  .footer-section:last-child {
    align-items: flex-end; /* Alinea a la derecha en dispositivos grandes */
    text-align: right;
  }
}
@media (prefers-color-scheme: dark) {
  .footer {
    background-color: var(--color-oscuro-fondo); /* Fondo oscuro */
  }
  .footer-section .logo-principal path {
    fill: var(--color-claro-contraste);
  }
  .footer-section p,
  .footer-section h5 {
    color: var(--color-claro-contraste);
  }
  .footer-section address,
  .footer-section a {
    color: var(--color-oscuro-detalles-secundario);
  }
  .footer-section a:hover {
    color: var(--color--oscuro-acento);
  }
  a.home:hover,
  a.home:focus {
    color: var(--color--oscuro-acento);
    text-decoration: underline;
  }
  a.home:hover .logo-principal path,
  a.home:focus .logo-principal path {
    fill: var(--color--oscuro-acento);
  }
  a.home:hover p,
  a.home:focus p {
    color: var(--color--oscuro-acento);
  }
}
